{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guideME</title>

    <link  rel="stylesheet" href="{% static 'css/stylelogin.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    
 <style>
  .logindiv{
    margin-left: 300px;
    height: 530px;
    
    margin-top: 50px;
  }
  
 </style>
 
</head>
<body>
  <div class="container-fluid" style="background-color: rgb(159, 201, 187);">
    {% include 'customer/header.html' %}
    <div class="container" >
    <div class="logindiv" style="width: 500px ;">
      
      <form method="post">
      {% csrf_token %}
        <div class="mb-3" >
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-2"><button type="submit" class="btn btn-primary ">Login</button></div>
          <div class="col-5"></div>
        </div>
        
      </form>
    </div> 
  
    
  </div>
</body>
</html>    